<div class="container-fluid pt-2">
    <div class="pb-2">
        <h3 class="text-dark nunito">
            New Here?
        </h3>
        <p class="text-muted">
            Register with Syscon
        </p>
    </div>
    <!--  Form Start  -->
    <form #userRegister = "ngForm" (ngSubmit) = "register(userRegister.value)">
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="John Doe" name="name" ngModel>
            <mat-error>
                Name can not be empty
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="john@example.com" name="email" ngModel>
            <mat-error>
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" type="text" name="password" ngModel>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div class="pt-4">
            <button type="submit" mat-raised-button color="primary" class="btn-block">Register</button>
        </div>
    </form>
    <!--  Form End  -->
    <small class="cursor-pointer">Already a member? <span class="text-primary" (click)="login()">Login</span></small>
</div>
