<div class="container-fluid">
    <!--  header Section  -->
    <section>
        <div class="row">
            <div class="col-md-12">
                <img src="../../../../assets/img/logo.png" class="img-fluid mt-3 ml-3" id="logo" />
            </div>
        </div>
    </section>
    <!--  header Section End -->

    <!--  Content Section  -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="nunito font-weight-bolder text-dark pt-5 mt-5">
                        Hello {{userInfo.name}}
                    </h1>

                    <p class="">
                        <mat-form-field appearance="outline" id="roomNameInput">
                            <mat-label>Create new room</mat-label>
                            <input matInput placeholder="Room Name" [(ngModel)]="createRoomName">
                        </mat-form-field>
                        <button mat-raised-button color="primary" (click)="createRoom()"
                                id="createRoomBtn"  [disabled]="createRoomName === '' || creatingRoomFLAG">
                            Create Room
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div>Some tags before</div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>Slide 1</ng-template>
        <ng-template carouselSlide>Slide 2</ng-template>
        <ng-template carouselSlide>Slide 3</ng-template>
        <ng-template carouselSlide>Slide 4</ng-template>
        <ng-template carouselSlide>Slide 5</ng-template>
        <ng-template carouselSlide>Slide 6</ng-template>
        <ng-template carouselSlide>Slide 7</ng-template>
    </owl-carousel-o>
    <div>Some tags after</div>
    <!--  Content Section End -->

</div>
