.controls-inline{
  display: inline;
}

.attendeeAvatar{
  width: 3rem;
}
.active-bg{
  background: linear-gradient(271deg, #171941, #344675, #1d8cf8, #171941);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  -o-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
  }
  @-o-keyframes AnimationName {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 35%}
    50%{background-position:100% 66%}
    100%{background-position:0% 35%}
  }
}
