<!--Device Management-->
<div [class.d-none]="!deviceManagementFLAG" class="bg-animated">
    <div class="container d-flex" style="min-height: 100vh">
        <div class="justify-content-center align-self-center m-auto">
            <div class="card py-md-2">
                <div class="card-body p-md-5">
                    <h5 class="card-title text-center">
                        Hello
                        {{userInfo.name}},
                        Let's setup audio and video settings before starting the meeting.
                    </h5>
                    <div ceelass="row p-5" [class.d-none]="deviceScreenInitFLAG">
                        <div class="text-center m-auto">
                            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
                        </div>
                    </div>
                    <div class="row pt-4" [class.d-none]="!deviceScreenInitFLAG">
                        <div class="col-12 col-md-3">
                            <!--    AUDIO INPUT CONTROLS START     -->
                            <h5>
                                Microphone
                            </h5>
                            <button class="btn btn-outline-primary dropdown-toggle btn-block" type="button"
                                    id="audioInputBtn"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ currentAudioInputDevice  | slice:0:20}}{{ currentAudioInputDevice.length > 20 ? '...' : '' }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="audioInputBtn">
                                <div *ngFor="let audioInput of audioInputDevices">
                                    <a class="dropdown-item"
                                       (click)="updateCurrentAudioInputDevice(audioInput.label, audioInput.deviceId)">
                                        {{audioInput.label | slice:0:20}}{{ audioInput.length > 20 ? '...' : '' }}
                                    </a>
                                </div>
                            </div>
                            <!--    AUDIO INPUT CONTROLS END     -->
                            <!--    VIDEO INPUT CONTROLS START     -->
                            <h5 class="pt-4">
                                Camera
                            </h5>
                            <div class="dropdown controls-inline">
                                <button class="btn btn-outline-primary dropdown-toggle btn-block" type="button"
                                        data-toggle="dropdown">
                                    {{currentVideoInputDevice | slice:0:20}}{{ currentVideoInputDevice.length > 20 ? '...' : '' }}
                                </button>
                                <div class="dropdown-menu" *ngFor="let videoInput of videoInputDevices">
                                    <a class="dropdown-item"
                                       (click)="updateCurrentVideoInputDevice('None',null)">
                                        None
                                    </a>
                                    <a class="dropdown-item"
                                       (click)="updateCurrentVideoInputDevice(videoInput.label, videoInput.deviceId)">
                                        {{videoInput.label | slice:0:20}}{{ videoInput.length > 20 ? '...' : '' }}
                                    </a>
                                </div>
                            </div>
                            <!--    VIDEO INPUT CONTROLS END     -->
                            <!--    AUDIO PREVIEW START     -->
                            <h5 class="pt-4"> Microphone Test </h5>
                            <nz-progress [nzShowInfo]="false" [nzPercent]="audioInputPreview"
                                         [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"></nz-progress>
                            <!--    AUDIO PREVIEW END     -->
                        </div>

                        <div class="col-md-1 col-0"></div>

                        <div class="col-md-3 col-12">
                            <!--    AUDIO OUTPUT CONTROLS START     -->
                            <h5 class="pt-4 pt-md-0">
                                Speaker
                            </h5>
                            <button class="btn btn-outline-primary dropdown-toggle btn-block" type="button"
                                    id="audioOutputBtn"
                                    data-toggle="dropdown">
                                {{currentAudioOutputDevice | slice:0:20}}{{ currentAudioOutputDevice.length > 20 ? '...' : '' }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="audioOutputBtn">
                                <div *ngFor="let audioOutput of audioOutputDevices">
                                    <a class="dropdown-item"
                                       (click)="updateCurrentAudioOutputDevice(audioOutput.label, audioOutput.deviceId)">
                                        {{audioOutput.label | slice:0:20}}{{ audioOutput.length > 20 ? '...' : '' }}
                                    </a>
                                </div>
                            </div>
                            <!--    AUDIO OUTPUT CONTROLS END     -->
                            <!--    VIDEO QUALITY CONTROLS START     -->
                            <h5 class="pt-4">
                                Video Quality
                            </h5>
                            <div class="dropdown controls-inline">
                                <button class="btn btn-outline-primary dropdown-toggle btn-block" type="button"
                                        data-toggle="dropdown">
                                    {{videoQualityPreview | slice:0:24}}
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" (click)="updateVideoQualityPreview('360p')">
                                        360p
                                    </a>
                                    <a class="dropdown-item" (click)="updateVideoQualityPreview('540p')">
                                        540p
                                    </a>
                                    <a class="dropdown-item" (click)="updateVideoQualityPreview('720p')">
                                        720p
                                    </a>
                                </div>
                            </div>
                            <!--    VIDEO QUALITY CONTROLS END     -->
                            <!--    TEST SPEAKER START     -->
                            <div class="pt-4">
                                <button id='buttonTestSound' class="btn btn-outline-primary btn-block mt-3"
                                        (click)="playAudio()" [class.disabled]="speakerTestFlag">Test Speakers
                                </button>
                            </div>
                            <!--    TEST SPEAKER END     -->
                        </div>

                        <div class="col-md-1 col-0"></div>

                        <!--    VIDEO PREVIEW START     -->
                        <div class="col-md-4 col-0">
                            <h5 class="pt-3 pt-md-4"> Video Preview </h5>
                            <video id="video-preview" class="previewVideo px-2 pt-3 pt-md-2"></video>
                            <!--    VIDEO PREVIEW END     -->
                        </div>
                    </div>
                    <div class="row" [class.d-none]="!deviceScreenInitFLAG">
                        <div class="col-md-8 col-12 pt-5 pt-md-3">
                            <button class="btn btn-block btn-primary" (click)="joinMeeting()">
                                Join
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Device Management END-->

<!--Meeting Screen Start-->
<div [class.d-none]="deviceManagementFLAG" class="container-fluid m-0 p-0 h-100vh">
    <div class="row no-gutters">
        <!--Meeting Controllers START-->
<!--        <div class="col-md-0 h-100vh controllerMeetingDiv">-->
<!--            <div class="container">-->
<!--                &lt;!&ndash;  Meeting Name    &ndash;&gt;-->
<!--                <h3 class="text-center py-2 pt-3">-->
<!--                    {{meetingName}}-->
<!--                </h3>-->
<!--                &lt;!&ndash;  Meeting Device Controllers    &ndash;&gt;-->
<!--                <div class="d-inline-block w-100">-->
<!--                    <h4 class="p-md-1 text-center">-->
<!--                        &lt;!&ndash;  Mute Handler  &ndash;&gt;-->
<!--                        <span class="px-3">-->
<!--                          <i nz-icon nzType="audio"-->
<!--                             nzTheme="{{ audioInputUnmute ? 'twotone' : 'outline' }}"-->
<!--                             (click)="muteHandler()"-->
<!--                             nz-tooltip nzTooltipTitle="{{ audioInputUnmute ? 'Mic on' : 'Mic off' }}"></i>-->
<!--                        </span>-->
<!--                        &lt;!&ndash;  Video Handler  &ndash;&gt;-->
<!--                        <span class="px-3">-->
<!--                          <i nz-icon nzType="video-camera"-->
<!--                             nzTheme="{{ videoInput ? 'twotone' : 'outline' }}"-->
<!--                             (click)="videoInputHandler()"-->
<!--                             nz-tooltip nzTooltipTitle="{{ videoInput ? 'Video on' : 'Video off' }}"></i>-->
<!--                        </span>-->
<!--                        &lt;!&ndash;  Screen Share Handler  &ndash;&gt;-->
<!--                        <span class="px-3">-->
<!--                          <i nz-icon nzType="credit-card"-->
<!--                             nzTheme="{{ shareScreen ? 'twotone' : 'outline' }}"-->
<!--                             (click)="shareScreenInputHandler()"-->
<!--                             nz-tooltip-->
<!--                             nzTooltipTitle="{{ shareScreen ? 'Screen is sharing' : 'Screen is not sharing' }}"></i>-->
<!--                        </span>-->
<!--                        &lt;!&ndash;  Leave Meeting Handler  &ndash;&gt;-->
<!--                        <span class="px-3">-->
<!--                          <i nz-icon nzType="phone" [nzTwotoneColor]="'#eb2f96'"-->
<!--                             nzTheme="twotone"-->
<!--                             nz-tooltip nzTooltipTitle="Leave Meeting"-->
<!--                             nz-popconfirm-->
<!--                             nzPopconfirmTitle="Are you sure you want to leave meeting?"-->
<!--                             nzPopconfirmPlacement="bottom"-->
<!--                             nzOkText="Leave"-->
<!--                             (nzOnConfirm)="leaveMeeting()"></i>-->
<!--                        </span>-->
<!--                    </h4>-->
<!--                </div>-->
<!--                &lt;!&ndash;  Attendees Div START  &ndash;&gt;-->
<!--                <div>-->
<!--                    <nz-divider nzText="Attendees" nzOrientation="left"></nz-divider>-->
<!--                    &lt;!&ndash;  Show spinner while joining meeting  &ndash;&gt;-->
<!--                    <nz-spin nzSimple [nzSize]="'large'" class="text-center pt-5"-->
<!--                             [class.d-none]="rosterData.length > 0"></nz-spin>-->
<!--                    &lt;!&ndash;  Attendees List START  &ndash;&gt;-->
<!--                    <ul class="list-group list-group-flush" id="AttendeeList">-->
<!--                        <li class="list-group-item px-md-2 m-0" *ngFor="let data of rosterData">-->
<!--                            <div class="row no-gutters" *ngIf="roster[data].name !== null">-->
<!--                                &lt;!&ndash;  Attendees Avatar col  &ndash;&gt;-->
<!--                                <div class="col-md-2 col-2">-->
<!--                                    <img alt="Raised circle image"-->
<!--                                         class="img-fluid rounded-circle shadow-lg attendeeAvatar"-->
<!--                                         src='https://ui-avatars.com/api/?name={{roster[data].name}}&rounded=true&background=000&color=fff'>-->
<!--                                </div>-->
<!--                                &lt;!&ndash;  Attendees Name col  &ndash;&gt;-->
<!--                                <div class="col-md-7 col-7">-->
<!--                                    <p class="pt-2 pl-1 text-wrap d-inline-block">-->
<!--                                        {{roster[data].name}}-->
<!--                                    </p>-->
<!--                                </div>-->
<!--                                &lt;!&ndash;  Attendees Indicators col  &ndash;&gt;-->
<!--                                <div class="col-md-3 col-3">-->
<!--                                    <h5>-->
<!--                                        &lt;!&ndash;  Todo: Screen Sharing Indicator  &ndash;&gt;-->
<!--                                        &lt;!&ndash;                    <i nz-icon nzType="credit-card" nzTheme="twotone"></i>&ndash;&gt;-->
<!--                                        &lt;!&ndash;  Speaking Indicator  &ndash;&gt;-->
<!--                                        <i nz-icon nzType="audio" nzTheme="twotone"-->
<!--                                           [class.d-none]="!roster[data].active || roster[data].muted"-->
<!--                                           nz-tooltip nzTooltipTitle="{{roster[data].name}} is speaking"></i>&nbsp;-->
<!--                                        &lt;!&ndash;  Mute Indicator  &ndash;&gt;-->
<!--                                        <i nz-icon nzType="audio" nzTheme="twotone" [nzTwotoneColor]="'#eb2f96'"-->
<!--                                           [class.d-none]="!roster[data].muted"-->
<!--                                           nz-tooltip nzTooltipTitle="{{roster[data].name}}'s mic is muted"></i>&nbsp;-->
<!--                                        &lt;!&ndash;  Wifi signals Indicator  &ndash;&gt;-->
<!--                                        <i nz-icon nzType="wifi" nzTheme="outline"-->
<!--                                           class="{{ roster[data].signalStrength == 0 ? 'text-danger' : roster[data].signalStrength >= 1 ? 'text-success' : 'text-warning'}}"-->
<!--                                           nz-tooltip-->
<!--                                           nzTooltipTitle="{{ roster[data].signalStrength == 0 ? 'Poor connection' : roster[data].signalStrength >= 1 ? 'Strong connection' : 'Weak connection'}}"></i>-->
<!--                                    </h5>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    &lt;!&ndash;  Attendees List END  &ndash;&gt;-->
<!--                </div>-->
<!--                &lt;!&ndash;  Attendees Div END  &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->


        <div class="col-md-12" style="background-color: #040C23; height: 100vh; width: 100vw; overflow-y: hidden">

            <!--            <div class="h-100vh d-flex" *ngIf="noVideoInputFlag">-->
            <!--                <h2 class="m-auto text-light">-->
            <!--                    Nobody is sharing video-->
            <!--                </h2>-->
            <!--            </div>-->


            <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed" [class.transparent-bg]="isCollapsed"
                style="max-width: 15vw; max-height: 100vh; position: absolute; z-index: 99;">
                <li nz-menu-item *ngIf="!isCollapsed">
                    <img src="../../assets/img/logo.png" class="img-fluid mx-auto" width="60%" />
                </li>
                <li nz-menu-item nz-tooltip nzTooltipTitle="{{ isCollapsed ? 'Expand controls' : 'Shrink controls' }}"
                    nzTooltipPlacement="right" (click)="toggleCollapsed()">
                    <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                    <!--                        {{meetingName}}-->
                    <span *ngIf="isCollapsed">
                        Shrink
                    </span>
                    <span *ngIf="!isCollapsed">
                        Expand
                    </span>
                </li>
                <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Are you sure you want to leave meeting?"
                    nzPopconfirmPlacement="bottom"
                    nzOkText="Leave"
                    (nzOnConfirm)="leaveMeeting()">
                    <!--  Leave Meeting Handler  -->
                    <i nz-icon nzType="phone"
                       nzTheme="fill" style="color: #eb2f96"
                    ></i>
                    <span>
                        Leave Meeting
                    </span>
                </li>
                <li nz-menu-item nz-tooltip nzTooltipTitle="{{ audioInputUnmute ? 'Mic on' : 'Mic off' }}"
                    nzTooltipPlacement="right" (click)="muteHandler()">
                    <!--  Mute Handler  -->
                        <i nz-icon nzType="audio"
                           nzTheme="{{ audioInputUnmute ? 'fill' : 'outline' }}"
                           >
                        </i>
                    <span>
                        {{ audioInputUnmute ? 'Mic on' : 'Mic off' }}
                    </span>
                </li>
                <li nz-menu-item nz-tooltip nzTooltipTitle="{{ videoInput ? 'Video on' : 'Video off' }}"
                    nzTooltipPlacement="right" (click)="videoInputHandler()">
                    <!--  Video Handler  -->
                    <i nz-icon nzType="video-camera"
                       nzTheme="{{ videoInput ? 'fill' : 'outline' }}"
                       >
                    </i>
                    <span>
                        {{ videoInput ? 'Video on' : 'Video off' }}
                    </span>
                </li>
                <li nz-menu-item nz-tooltip nzTooltipTitle="{{ shareScreen ? 'Screenshare on' : 'Screenshare off' }}"
                    nzTooltipPlacement="right" (click)="shareScreenInputHandler()">
                    <!--  Screenshare Handler  -->
                    <i nz-icon nzType="credit-card"
                       nzTheme="{{ shareScreen ? 'fill' : 'outline' }}"
                    >
                    </i>
                    <span>
                        {{ shareScreen ? 'Screen sharing' : 'Screen sharing off' }}
                    </span>
                </li>
                <li nz-submenu nzTitle="Attendees" nz-tooltip nzTooltipTitle="Attendees list"
                    nzTooltipPlacement="right" nzIcon="user">

                    <!--  Spinner  -->
                    <nz-spin nzSimple class="text-center py-2"
                             [class.d-none]="rosterData.length > 0"></nz-spin>
                    <!--  Attendees List START  -->
                    <ul class="list-group list-group-flush" id="AttendeeList">
                        <li class="list-group-item px-md-2 m-0" *ngFor="let data of rosterData" style="background-color: rgba(255,255,255,0.9)">
                            <div class="row no-gutters" *ngIf="roster[data].name !== null">
                                <!--  Attendees Avatar col  -->
                                <div class="col-md-3">
                                    <img alt="Raised circle image"
                                         class="img-fluid rounded-circle shadow-lg attendeeAvatar"
                                         src='https://ui-avatars.com/api/?name={{roster[data].name}}&rounded=true&background=000&color=fff'>
                                </div>
                                <!--  Attendees Name col  -->
                                <div class="col-md-8">
                                    <h6 class="pt-2 px-1 text-wrap d-inline-block">
                                        {{roster[data].name}}
                                    </h6>
                                </div>
                                <!--  Attendees Indicators col  -->
                                <div class="col-md-1">
                                    <p class="cursor-pointer mb-0">
                                        <!--  Todo: Screen Sharing Indicator  -->
                                        <!--                    <i nz-icon nzType="credit-card" nzTheme="twotone"></i>-->
                                        <!--  Wifi signals Indicator  -->
                                        <i nz-icon nzType="wifi" nzTheme="outline"
                                           class="{{ roster[data].signalStrength == 0 ? 'text-danger' : roster[data].signalStrength >= 1 ? 'text-success' : 'text-warning'}}"
                                           nz-tooltip nzPlacement="right"
                                           nzTooltipTitle="{{ roster[data].signalStrength == 0 ? 'Poor connection' : roster[data].signalStrength >= 1 ? 'Strong connection' : 'Weak connection'}}"></i>
                                        <!--  Speaking Indicator  -->
                                        <i nz-icon nzType="audio" nzTheme="twotone" nzPlacement="right"
                                           [class.d-none]="!roster[data].active || roster[data].muted"
                                           nz-tooltip nzTooltipTitle="{{roster[data].name}} is speaking"></i>&nbsp;
                                        <!--  Mute Indicator  -->
                                        <i nz-icon nzType="audio" nzTheme="twotone" [nzTwotoneColor]="'#eb2f96'"
                                           [class.d-none]="!roster[data].muted" nzPlacement="right"
                                           nz-tooltip nzTooltipTitle="{{roster[data].name}}'s mic is muted"></i>&nbsp;
                                       </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--  Attendees List END  -->
                </li>
                <li nz-menu-item nz-tooltip nzTooltipTitle="{{ showStatsFLAG ? 'Stats on' : 'Stats off' }}"
                    nzTooltipPlacement="right" (click)="toggleStatsFlag()">
                    <!--  Screenshare Handler  -->
                    <i nz-icon nzType="info-circle"
                       nzTheme="{{ showStatsFLAG ? 'fill' : 'outline' }}"
                    >
                    </i>
                    <span>
                        {{ shareScreen ? 'Stats off' : 'Stats on' }}
                    </span>
                </li>
            </ul>

            <div class="row no-gutters meetingVideo">
                <div class="mt-auto" *ngIf="showStatsFLAG" style="position: absolute; z-index: 999; top: 96vh;">
                    <small class="p-0 m-0" style="color: #fff">
                        <i nz-icon nzType="arrow-up" nzTheme="outline"></i>
                        {{uploadBandwidth}} kbps
                    </small>
                    <small class="p-0 m-0" style="color: #fff">
                        <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
                        {{downloadBandwidth}} kbps
                    </small>
                </div>
                <!--  Active video tile START  -->
                <div class="col-md-10">
                    <video id="video-active" class="activeVideoTile"></video>
                </div>
                <!--  Active video tile END  -->
                <div class="col-md-2">
                    <video id="video-2" class="videoTile"></video>
                    <br>
                    <video id="video-3" class="videoTile"></video>
                    <br>
                    <video id="video-4" class="videoTile"></video>
                    <br>
                    <video id="video-5" class="videoTile"></video>
                </div>
            </div>

<!--            <div class="row no-gutters">-->
<!--                <div class="col-md-10 videoStream" id="tile-1">-->
<!--                    <video id="video-1" class="meetingVideo"></video>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row no-gutters">-->
<!--                <div class="col-md-12 videoStream" id="tile-2">-->
<!--                    <video id="video-2" class="meetingVideo"></video>-->
<!--                </div>-->
<!--            </div>-->

        </div>
        <!--Meeting Controllers END-->
    </div>
    <audio id="meeting-audio" style="display:none"></audio>

</div>
