<!--Device Management-->
<div [class.d-none]="!deviceManagementFLAG" class="wrapper">
  <div class="container">
    <div class="pt-5">
      <div class="card ">
        <div class="card-body p-5">
          <h2 class="card-title text-center">
            Manage Devices
          </h2>
          <div class="row pt-5">
            <div class="col-12 col-md-3">
              <h6>
                Microphone
              </h6>
              <!--    AUDIO INPUT CONTROLS START     -->
              <nb-select placeholder="{{ currentAudioInputDevice  | slice:0:35}}..." fullWidth>
                <nb-option *ngFor="let audioInput of audioInputDevices"
                           (click)="updateCurrentAudioInputDevice(audioInput.label, audioInput.deviceId)">
                  {{audioInput.label | slice:0:35}}...
                </nb-option>
              </nb-select>
              <!--    AUDIO INPUT CONTROLS END     -->
              <h6 class="pt-md-5">
                Camera
              </h6>
              <!--    VIDEO INPUT CONTROLS START     -->
              <nb-select placeholder="{{ currentVideoInputDevice  | slice:0:35}}..." fullWidth>
                <nb-option *ngFor="let videoInput of videoInputDevices"
                           (click)="updateCurrentVideoInputDevice(videoInput.label, videoInput.deviceId)">
                  {{videoInput.label | slice:0:35}}...
                </nb-option>
              </nb-select>
              <!--    VIDEO INPUT CONTROLS END     -->
            </div>

            <div class="col-md-1 col-0"></div>

            <div class="col-md-3 col-12">
              <h6>
                Speaker
              </h6>
              <!--    AUDIO OUTPUT CONTROLS START     -->
              <nb-select placeholder="{{ currentAudioOutputDevice  | slice:0:35}}..." fullWidth>
                <nb-option *ngFor="let audioOutput of audioOutputDevices"
                           (click)="updateCurrentAudioOutputDevice(audioOutput.label, audioOutput.deviceId)">
                  {{audioOutput.label | slice:0:35}}...
                </nb-option>
              </nb-select>
              <!--    AUDIO OUTPUT CONTROLS END     -->
              <h6 class="pt-md-5">
                Video Quality
              </h6>
              <!--    VIDEO QUALITY CONTROLS START     -->
              <nb-select placeholder="{{videoQualityPreview}}" fullWidth>
                <nb-option (click)="updateVideoQualityPreview('360p')">
                  360p
                </nb-option>
                <nb-option (click)="updateVideoQualityPreview('540p')">
                  540p
                </nb-option>
                <nb-option (click)="updateVideoQualityPreview('720p')">
                  720p
                </nb-option>
              </nb-select>
              <!--    VIDEO QUALITY CONTROLS END     -->
            </div>

            <div class="col-md-1 col-0"></div>

            <div class="col-md-4 col-0">
              <div class="pb-md-2">
                <h6 class="progress-badge"> Microphone Test </h6>
                <!--    AUDIO PREVIEW START     -->
                <nb-progress-bar [value]="audioInputPreview"></nb-progress-bar>
                <!--    AUDIO PREVIEW END     -->
              </div>
              <!--    TEST SPEAKER START     -->
              <button nbButton status="basic" id='buttonTestSound'
                      (click)="playAudio()" [class.disabled]="speakerTestFlag">
                Test Speakers
              </button>
              <video id="video-preview" class="w-100 h-100 p-md-3"></video>
              <!--    TEST SPEAKER END     -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-12 pt-5 pt-md-0">
              <button nbButton hero fullWidth (click)="joinMeeting()">
                Join
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Device Management END-->
<!--<div [class.d-none]="deviceManagementFLAG" class="wrapper container-fluid m-0 p-0 m-h-100vh">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md-3">-->
<!--      <div class="card m-h-100vh">-->
<!--        <div class="container">-->
<!--          &lt;!&ndash;       Meeting Name       &ndash;&gt;-->
<!--          <h1 class="display-3 pt-md-3 pt-0 pb-md-0 mb-md-0">-->
<!--            {{meetingName}}-->
<!--          </h1>-->
<!--          <hr class="line-success">-->
<!--          &lt;!&ndash;       Audio Mute Handler Start      &ndash;&gt;-->
<!--          <button class="btn btn-primary btn-fab btn-icon btn-round" (click)="muteHandler()">-->
<!--            <i class="fas fa-microphone" [class.d-none]="!audioInputUnmute"></i>-->
<!--            <i class="fas fa-microphone-slash" [class.d-none]="audioInputUnmute"></i>-->
<!--          </button>-->
<!--          &lt;!&ndash;       Audio Mute Handler End      &ndash;&gt;-->
<!--          &lt;!&ndash;       Video Input On Handler Start      &ndash;&gt;-->
<!--          <button class="btn btn-primary btn-fab btn-icon btn-round" (click)="videoInputHandler()">-->
<!--            <i class="fas fa-video" [class.d-none]="!videoInput"></i>-->
<!--            <i class="fas fa-video-slash" [class.d-none]="videoInput"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--        &lt;!&ndash;       Video Input On Handler End      &ndash;&gt;-->
<!--        <tabset class="nav-tabs-primary">-->
<!--          &lt;!&ndash;       Attendees List Tab Start      &ndash;&gt;-->
<!--          <tab>-->
<!--            <ng-template tabHeading>-->
<!--              <i class="tim-icons icon-single-02"></i>Attendees-->
<!--            </ng-template>-->


<!--            &lt;!&ndash;                            DEMO &ndash;&gt;-->
<!--            <div class="active-bg">-->
<!--              <div class="pt-md-1 pb-md-1 row no-gutters">-->
<!--                <div class="col-md-9">-->
<!--                  <img alt="Raised circle image"-->
<!--                       class="img-fluid rounded-circle shadow-lg attendeeAvatar"-->
<!--                       src='https://ui-avatars.com/api/?name=alI&rounded=true&background=000&color=fff'>-->
<!--                  <h6 class="pt-md-3 pl-md-3 controls-inline">-->
<!--                    Muhammad Ali-->
<!--                  </h6>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <div class="pt-md-3">-->
<!--                    &lt;!&ndash;    Speaking Indicator    &ndash;&gt;-->
<!--                    &lt;!&ndash;                                            <i class="fas fa-microphone text-green" [class.d-none]="!roster[data].active" [class.d-none]="roster[data].muted"></i>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                                <span [class.d-none]="!roster[data].active" class="badge badge-pill badge-info">&ndash;&gt;-->
<!--                    &lt;!&ndash;                                                    speaking&ndash;&gt;-->
<!--                    &lt;!&ndash;                                                </span>&ndash;&gt;-->
<!--                    &lt;!&ndash;    Signal Indicator    &ndash;&gt;-->
<!--                    <i class="tim-icoNbRegisterComponentns icon-wifi"-->
<!--                       [class.text-red]="0 < 1"-->
<!--                       [class.text-green]="0 > 1"></i>-->
<!--                    &lt;!&ndash;    Mute Indicator    &ndash;&gt;-->
<!--                    <i class="fas fa-microphone-slash text-red" [class.d-none]="false"></i>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--            &lt;!&ndash;                            DEMO &ndash;&gt;-->


<!--            <div *ngFor="let data of rosterData">-->
<!--              <div class="pt-md-1 pb-md-1">-->
<!--                <div class="row no-gutters">-->
<!--                  <div class="col-md-9">-->
<!--                    <img alt="Raised circle image"-->
<!--                         class="img-fluid rounded-circle shadow-lg attendeeAvatar"-->
<!--                         src='https://ui-avatars.com/api/?name={{roster[data].name}}&rounded=true&background=000&color=fff'>-->
<!--                    <h6 class="pt-md-3 pl-md-3 controls-inline">-->
<!--                      {{roster[data].name}}-->
<!--                    </h6>-->
<!--                  </div>-->
<!--                  <div class="col-md-3">-->
<!--                    <div class="pt-md-3">-->
<!--                      &lt;!&ndash;    Speaking Indicator    &ndash;&gt;-->
<!--                      <i class="fas fa-microphone text-green" [class.d-none]="!roster[data].active" [class.d-none]="roster[data].muted"></i>-->
<!--                      &lt;!&ndash;                                                <span [class.d-none]="!roster[data].active" class="badge badge-pill badge-info">&ndash;&gt;-->
<!--                      &lt;!&ndash;                                                    speaking&ndash;&gt;-->
<!--                      &lt;!&ndash;                                                </span>&ndash;&gt;-->
<!--                      &lt;!&ndash;    Signal Indicator    &ndash;&gt;-->
<!--                      <i class="tim-icons icon-wifi"-->
<!--                         [class.text-red]="roster[data].signalStrength < 1"-->
<!--                         [class.text-green]="roster[data].signalStrength > 1"></i>-->
<!--                      &lt;!&ndash;    Mute Indicator    &ndash;&gt;-->
<!--                      <i class="fas fa-microphone-slash text-red" [class.d-none]="!roster[data].muted"></i>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->
<!--            </div>-->
<!--          </tab>-->
<!--          &lt;!&ndash;       Attendees List Tab End      &ndash;&gt;-->

<!--          <tab>-->
<!--            <ng-template tabHeading>-->
<!--              <i class="tim-icons icon-chat-33"> </i> Chat-->
<!--            </ng-template>-->
<!--            <p>-->

<!--              Dramatically visualize customer directed convergence-->
<!--              without revolutionary ROI.-->
<!--            </p>-->
<!--          </tab>-->
<!--        </tabset>-->
<!--      </div>-->
<!--    </div>-->

<!--    <audio id="meeting-audio" style="display:none"></audio>-->
<!--  </div>-->
<!--</div>-->
