<div class="container-fluid">
    <h3>
        Welcome Back
    </h3>
    <p>
        Log in to continue
    </p>
    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="john@example.com">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <div class="full-width">
        <div class="row no-gutters">
            <div class="col-md-6">
                <small class="text-muted">
                    <mat-checkbox>Remember me</mat-checkbox>
                </small>
            </div>
            <div class="col-md-6 text-right">
                <small class="text-muted">Forgot password</small>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" class="btn-block">Login</button>
    <p>Not a member? Register</p>
</div>
