///* You can add global styles to this file, and also import other style files */
//
//$white: #fff;
//$black: #000;
//
//%bg-white {
//  background-color: $white!important;
//  color: $black!important;
//}
//
//html, body{
//  @extend %bg-white;
//}

.m-h-100vh{
  min-height: 100vh;
}


.d-none{
  display: none!important;
}

.d-block{
  display: block;
}
