#landingHero
  background-image: url('../../../assets/img/landing_banner.png')
  background-size: cover



.navbar
  transition: all 0.4s

  .nav-link
    color: #000

    &:hover, &:focus
      color: #fff
      text-decoration: none

  .navbar-brand
    color: #fff

  &.active
    background: #fff
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1)

    .nav-link
      color: #555

      &:hover, &:focus
        color: #555
        text-decoration: none

    .navbar-brand
      color: #555

/* Change navbar styling on scroll

/* Change navbar styling on small viewports
@media (max-width: 991.98px)
  .navbar
    background: #fff

    .navbar-brand, .nav-link
      color: #555
