<!--Navbar-->
<app-nav [landingSection]="landingSection" [useCaseSection]="useCaseSection" [featuresSection]="featuresSection" [contactSection]="contactSection">
</app-nav>


<!--Landing hero section start-->
<section #landingSection id="landingHero" class="h-100vh w-100vw">
    <div class="row full-width">
        <div class="col-md-7" style="margin-top: 12%;">
            <div class="px-md-5 px-2 my-auto">
                <h1 class="text-dark text-center font-weight-bolder display-3">Syscon</h1>
                <p class="pt-3">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo
                </p>
                <button mat-stroked-button color="primary" class="px-md-5 py-md-2">
                    Login&nbsp;
                    <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                </button>
                <button mat-raised-button color="primary" class="px-md-5 py-md-2 ml-4">
                    Get Started
                </button>
            </div>
        </div>
    </div>
</section>

<!--use cases section start-->
<section #useCaseSection id="useCaseSection" class="sectionPadding">
    <h1 class="text-center text-dark font-weight-bolder nonito">
        Use Cases
    </h1>
    <div class="row p-0 m-0 mt-5 contentPadding">
        <div class="col-md-1 col-0"></div>
        <div class="col-md-4 col-12 full-width">
            <img src="../../../assets/img/virtual_clinic_banner.jpg" class="img-fluid mx-auto p-md-3"/>
        </div>
        <div class="col-md-7">
            <div class="px-md-5">
                <h3 class="text-center text-dark font-weight-bolder nonito">
                    Virtual Clinic
                </h3>
                <p class="mt-4">
                    In the early yet simpler times, patients relied only on their doctor to make house calls. The
                    impression of a General Practitioner treating a sick patient at home is now considered a quaint
                    artefact for the medical lanes as it has almost vanished. But, is it really? However, unlike all
                    conditions of the medical attention require an in-person consultation with a healthcare
                    professional, some merely do. Although, logistics or indolence may be a highlighted reason why
                    individuals are turning to Internet sites for medical opinions rather than the doctor’s office. A
                    virtual clinic is beneficial on high priority in such rural areas where doctor(s) aren’t available
                    on
                    service, functionally.
                </p>
            </div>
        </div>
    </div>
    <div class="row p-0 m-0 mt-5 contentPadding">
        <div class="col-md-7">
            <div class="px-md-5">
                <h3 class="text-center text-dark font-weight-bolder nonito">
                    HR Interviews
                </h3>
                <p class="mt-4">
                    A millennial trend has been observed inside organizations, companies and especially HR
                    departments which are utilizing the video recordings to record job interviews or meetings with
                    employees even recording disciplinary meetings and hearings, individually. However, it is now
                    more commonplace to see companies grow their pitch using digital video. Recording job
                    interviews, performance reviews, and other meetings are almost a main course task. The
                    benefits include a vivid interview room on the software which employs a central server, acting
                    as an virtual equipment in meeting rooms as the software is able to support dozens of cameras
                    and is scalable from small one-room installations to company-wide deployments.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-12 full-width">
            <img src="../../../assets/img/hr_banner.jpg" class="img-fluid mx-auto"/>
        </div>
    </div>
    <div class="row p-0 m-0 mt-5 contentPadding">
        <div class="col-md-1 col-0"></div>
        <div class="col-md-4 col-12 full-width">
            <img src="../../../assets/img/business_meeting_banner.jpg" class="img-fluid mx-auto"/>
        </div>
        <div class="col-md-7">
            <div class="px-md-5">
                <h3 class="text-center text-dark font-weight-bolder nonito">
                    Business Meetings
                </h3>
                <p class="mt-4">
                    In the early yet simpler times, patients relied only on their doctor to make house calls. The
                    impression of a General Practitioner treating a sick patient at home is now considered a quaint
                    artefact for the medical lanes as it has almost vanished. But, is it really? However, unlike all
                    conditions of the medical attention require an in-person consultation with a healthcare
                    professional, some merely do. Although, logistics or indolence may be a highlighted reason why
                    individuals are turning to Internet sites for medical opinions rather than the doctor’s office. A
                    virtual clinic is beneficial on high priority in such rural areas where doctor(s) aren’t available
                    on
                    service, functionally.
                </p>
            </div>
        </div>
    </div>
</section>


<!--Features Section-->
<section #featuresSection class="container sectionPadding">
    <h1 class="text-center text-dark font-weight-bolder nonito">
        Features
    </h1>
    <div class="row contentPadding">
        <div class="col-md-7">
            <mat-card class="shadow">
                <mat-card-header>
                    <mat-card-title class="text-dark nonito">
                        <img src="../../../assets/img/ai.png" class="img-fluid d-inline-block featuresLogo" />
                        Integration with AI
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Syscon can be integrated with many AI modules to enrich the experience, for example, it can be
                        integrated with Facetology which allow the operand can add up to 5 personality traits, based on
                        computer vision. Thus, a broad global description for recruiters, psychiatrists and institutions
                        etc. The integrated AI modules are enabled to detect suspicious activities, whether for an
                        individual or for a group of people. The AI based automated attendance system extends an
                        organization’s works by eliminating time-constraints and maintenance costs exponentially,
                        alongside maintaining the track record of the personnel. The AI integration reach even aids the
                        organisation authorities to conduct HR interviews more maturely and professionally.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-5">
            <mat-card class="shadow">
                <mat-card-header>
                    <mat-card-title class="text-dark nonito">
                        <img src="../../../assets/img/integration.png" class="img-fluid d-inline-block featuresLogo p-1" />
                        Multi-Platform Integration
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Regardless of the Operating System (OS), a conference can easily consists users from Windows,
                        Macintosh, Android and even iOS hand held devices. This ease of integration on every system
                        software makes the accessibility handy as the feature can be accessed through every GUI
                        (Graphical User Interface) device sector in the market today. Being an open-source, the
                        installation is not that much of a load itself thus, the application can be accessed overall.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5">
            <mat-card class="shadow">
                <mat-card-header>
                    <mat-card-title class="text-dark nonito">
                        <img src="../../../assets/img/pay_as_you_go.png" class="img-fluid d-inline-block featuresLogo" />
                        Pay As You Go
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Regardless of the Operating System (OS), a conference can easily consists users from Windows,
                        Macintosh, Android and even iOS hand held devices. This ease of integration on every system
                        software makes the accessibility handy as the feature can be accessed through every GUI
                        (Graphical User Interface) device sector in the market today. Being an open-source, the
                        installation is not that much of a load itself thus, the application can be accessed overall.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-7">
            <mat-card class="shadow">
                <mat-card-header>
                    <mat-card-title class="text-dark nonito">
                        <img src="../../../assets/img/customization_1.png" class="img-fluid d-inline-block featuresLogo" />
                        Fully Customisable
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        A suitable extension approach for an organisation as the ease of embedding video conferencing
                        to one’s in-house software strategy is one of the elites. Not every competitor offers such
                        flexibility for the customisation of video conferencing on such a core basis, however, various
                        aspects are to be kept in mind when accepting the embedding approach religiously. The
                        interface holds a mature yet flexible imagery system for the user as this enables the feature to
                        be minimised, accordingly. Updates may enable the user to change the colour themes to their
                        desired will.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>

<!--Contact section-->
<section #contactSection class="w-100vw h-100vh sectionPadding" style="background: url('../../../assets/img/contact.png'); background-size: 100% 100%">
    <div class="row full-width">
        <div class="col-md-6">
            <div class="container mt-5 pt-3">
                <h1 class="text-center text-dark font-weight-bolder nonito mt-5">
                    Contact Us
                </h1>
                <h4 class="text-muted px-5 mt-3">
                    Got any queries? Fill the form, we will reach out to you shortly
                </h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container mt-5 pt-3 px-md-5">
                <form class="mt-5 px-md-5" [formGroup]="contactForm">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Your Name
                        </mat-label>
                        <input matInput placeholder="John Doe" formControlName="name">
                        <mat-error *ngIf="f.name.touched && f.name.errors?.required">
                            Please enter your name
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Your Email
                        </mat-label>
                        <input matInput placeholder="john@example.com" formControlName="email">
                        <mat-error *ngIf="f.email.touched && f.email.errors?.required">
                            Please enter your email address
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>
                            Your Message
                        </mat-label>
                        <textarea [mat-autosize]="false"  rows="6" matInput placeholder="Your Message" formControlName="message"></textarea>
                        <mat-error *ngIf="f.message.touched && f.message.errors?.required">
                            Please enter a message
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <button mat-raised-button color="primary" class="btn-block py-2" (click)="onSubmit()">
                        Submit&nbsp;&nbsp;
                        <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
