<!--<app-login></app-login>-->


<div class="container-fluid h-100vh w-100vw justify-content-center align-items-center" style="background-color: lime;">
    <div class="container">
        <div class="row" id="accountForm">
            <div class="col-md-4" id="formDiv">
                <div class="container p-5">
                    <img src="../../../../assets/img/logo.png" class="img-fluid" />
                    <mat-form-field>
                        <mat-label>Favorite food</mat-label>
                        <input matInput placeholder="Ex. Pizza" value="">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-8" id="transparentDiv">
                asd
            </div>
        </div>
    </div>
</div>
