<!--<app-login></app-login>-->


<div class="container-fluid h-100vh w-100vw justify-content-center align-items-center" style="background-image: url('../../../../assets/img/meeting_room.jpg'); background-size: 100% 100%">
    <div class="container">
        <div class="row" id="accountForm">
            <div class="col-md-4" id="formDiv">
                <div class="container">
                    <div class="pl-3 py-4">
                        <img src="../../../../assets/img/logo.png" class="img-fluid" id="logo" />
                    </div>
                    <div class="px-2">
                        <app-login *ngIf="isLoginScreen" (registerForm)="showLoginScreen(false)"> </app-login>
                        <app-register *ngIf="!isLoginScreen" (loginForm)="showLoginScreen(true)"> </app-register>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="transparentDiv">
                asd
            </div>
        </div>
    </div>
</div>
