<div class="wrapper">
  <div class="page-header">
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5 offset-lg-0 offset-md-3 d-flex" style="background-color: #4485F1; height: 100vh">
            <div class="align-content-center justify-content-center align-self-center">
              <nz-card nzTitle="Join Meeting">
                <form class="form" #joinMeeting="ngForm">

                  <nz-form-item>
                    <nz-form-control>
                      <nz-input-group nzPrefixIcon="user">
                        <input type="text" id="attendeeName" name="attendeeName" ngModel nzSize="large"
                               nz-input placeholder="Your Name" />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control>
                      <nz-input-group nzPrefixIcon="desktop">
                        <input nzSize="large" nz-input value="{{meetingId}}" disabled />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>

                  <!--                <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">-->
                  <!--                  <div class="input-group-prepend">-->
                  <!--                    <div class="input-group-text">-->
                  <!--                      <i class="tim-icons icon-single-02"> </i>-->
                  <!--                    </div>-->
                  <!--                  </div>-->
                  <!--                  <input class="form-control" placeholder="Full Name" type="text"-->
                  <!--                         (focus)="focus = true" (blur)="focus = false" id="attendeeName"-->
                  <!--                         name="attendeeName" ngModel />-->
                  <!--                </div>-->
                  <!--                <div class="form-check text-left">-->
                  <!--                  <label class="form-check-label">-->
                  <!--                    <input class="form-check-input" type="checkbox"/>-->
                  <!--                    <span class="form-check-sign"> </span> I agree to the-->
                  <!--                    <a href="javascript:void(0)"> terms and conditions </a> .-->
                  <!--                  </label>-->
                  <!--                </div>-->
                  <button nz-button nzType="primary" nzSize="large" nzBlock
                          (click)="onSubmitJoinChat(joinMeeting.value)">
                    <i nz-icon [nzType]="'loading'" [class.d-none]="!joiningFlag" class="pb-2"></i>
                    <span [class.d-none]="joiningFlag">
                    <p class="mt-1">
                    Join Room
                    </p>
                  </span>
                  </button>
                </form>
                <!--              <button class="btn btn-danger btn-round btn-lg" href="javascript:void(0)"-->
                <!--                      (click)="onSubmitJoinChat(joinMeeting.value)">-->
                <!--                Start Consultation-->
                <!--              </button>-->
              </nz-card>
            </div>
<!--            <div class="card card-register">-->
<!--              <div class="card-header">-->
<!--                <h4 class="card-title text-white">&nbsp;&nbsp;&nbsp;Join</h4>-->
<!--              </div>-->
<!--              <div class="card-body">-->
<!--                <form class="form" #joinMeeting="ngForm">-->
<!--                  <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <div class="input-group-text">-->
<!--                        <i class="tim-icons icon-single-02"> </i>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <input class="form-control" placeholder="Full Name" type="text"-->
<!--                           (focus)="focus = true" (blur)="focus = false" id="attendeeName"-->
<!--                           name="attendeeName" ngModel />-->
<!--                  </div>-->
<!--                  <div class="form-check text-left">-->
<!--                    <label class="form-check-label">-->
<!--                      <input class="form-check-input" type="checkbox"/>-->
<!--                      <span class="form-check-sign"> </span> I agree to the-->
<!--                      <a href="javascript:void(0)"> terms and conditions </a> .-->
<!--                    </label>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--              <div class="card-footer">-->
<!--                <button class="btn btn-danger btn-round btn-lg" href="javascript:void(0)"-->
<!--                        (click)="onSubmitJoinChat(joinMeeting.value)">-->
<!--                  Start Consultation-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="col-md-7">
            <div class="row">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
