<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image"></div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <!--  Left Div START  -->
                    <div class="col-md-5 offset-lg-0 offset-md-3 d-flex bg-animated h-100vh">
                        <div class="align-content-center justify-content-center align-self-center m-auto">
                            <nz-card nzTitle="Join Meeting">
                                <form class="form" #joinMeeting="ngForm">
                                  <!--  Attendee Name  -->
                                    <nz-form-item>
                                        <nz-form-control>
                                            <nz-input-group nzPrefixIcon="user">
                                                <input type="text" id="attendeeName" name="attendeeName" ngModel
                                                       nzSize="large"
                                                       nz-input placeholder="Your Name"/>
                                            </nz-input-group>
                                        </nz-form-control>
                                    </nz-form-item>
                                  <!--  Meeting ID  -->
                                    <nz-form-item>
                                        <nz-form-control>
                                            <nz-input-group nzPrefixIcon="desktop">
                                                <input nzSize="large" nz-input value="{{meetingId}}" disabled/>
                                            </nz-input-group>
                                        </nz-form-control>
                                    </nz-form-item>
                                    <!--  Button  -->
                                    <button nz-button nzType="primary" nzSize="large" nzBlock
                                            (click)="onSubmitJoinChat(joinMeeting.value)">
                                        <!--  Spinner  -->
                                        <i nz-icon [nzType]="'loading'" [class.d-none]="!joiningFlag" class="pb-2"></i>
                                        <span [class.d-none]="joiningFlag">
                                          <p class="mt-1">
                                          Join Room
                                          </p>
                                        </span>
                                    </button>
                                </form>
                            </nz-card>
                        </div>
                    </div>
                    <!--  Left Div END  -->
                    <!--  Right Div START  -->
                    <div class="col-md-7 d-flex h-100vh ">
                        <div class="container align-content-center justify-content-center align-self-center text-center">
                          <h1 class="font-weight-bolder text-dark">
                            Video Conferencing
                          </h1>
                          <img src="../../assets/img/join-meeting-banner.jpg" class="img-fluid center-block  pt-3 p-md-5" />
                        </div>
                    </div>
                    <!--  Right Div END  -->
                </div>
            </div>
        </div>
    </div>
</div>
